<xc-dialog-wrapper xc-i18n-context="fman.create-application-definition-dialog">
    <ng-container header><span xc-i18n>create-application-definition-title</span></ng-container>
    <section content xc-form #form="xc-form">
        <xc-form-autocomplete
            xc-form-validator-required
            (xc-form-autocomplete-optionChange)="changeWorkspace($event?.value)"
            [xc-form-autocomplete-option]="workspaceDataWrapper.value"
            [xc-form-autocomplete-options]="workspaceDataWrapper.values"
            xc-form-autocomplete-sortdirection="asc"
            xc-form-field-suffix="clear"
            xc-form-autocomplete-fulltextsearch
            xc-i18n
            label="create-application-definition-workspace"
        ></xc-form-autocomplete>
        <xc-form-input
            xc-form-validator-required
            [(value)]="name"
            xc-i18n
            label="create-application-definition-name"
        ></xc-form-input>
        <xc-form-input
            [(value)]="documentation"
            xc-i18n
            label="create-application-definition-documentation"
        ></xc-form-input>
    </section>
    <ng-container footer>
        <xc-button (click)="dismiss()" xc-focus-initial xc-i18n>create-application-definition-cancel</xc-button>
        <xc-button (click)="create()" [disabled]="form.invalid" xc-i18n>create-application-definition-create</xc-button>
    </ng-container>
</xc-dialog-wrapper>
