<div class="header" #header>
    <div>
        <tile-button
            *ngFor="let item of dataSource.leftitems"
            [item]="item"
            [selected]="dataSource.isSelected(item)"
            (select-item)="select($event)">
        </tile-button>
    </div>
    <div class="label"><span *ngIf="hasLabel()" xc-i18n>{{label}}</span></div>
    <div class="aside">
        <tile-button
            *ngFor="let item of dataSource.rightitems"
            [item]="item"
            [selected]="dataSource.isSelected(item)"
            (select-item)="select($event)">
        </tile-button>
        <xc-icon-button *ngIf="actionButton" (click)="action()" [xc-icon-name]="actionButton.iconName" xc-i18n [xc-tooltip]="actionButton.tooltip"></xc-icon-button>
    </div>
</div>
<div class="detail" *ngIf="hasDetails">
    <xc-template [xc-template-instance]="dataSource.detailItem.getDetailTemplate()">
    </xc-template>
</div>