<xc-master-detail [xc-master-detail-opened]="detailOpen" xc-i18n-context="fman.storable-instances">
    <xc-panel master>
        <header>
            <h1 class="items-left" xc-i18n>header</h1>
            <div class="items-right">
                <xc-form-autocomplete
                    xc-i18n
                    placeholder="runtime-context-placeholder"
                    [(xc-form-autocomplete-option)]="rtcDataWrapper.value"
                    [xc-form-autocomplete-options]="rtcDataWrapper.values"
                    xc-form-field-suffix="clear"
                    xc-form-autocomplete-fulltextsearch
                    xc-form-field-compact
                ></xc-form-autocomplete>
                <div [xc-tooltip]="fqnDataWrapper.value ? fqnDataWrapper.value.name : ''" class="storable">
                    <xc-form-autocomplete
                        [placeholder]="getFQNPlaceholder()"
                        [(xc-form-autocomplete-option)]="fqnDataWrapper.value"
                        [xc-form-autocomplete-options]="fqnDataWrapper.values"
                        [readonly]="!canChooseFQN()"
                        xc-form-field-suffix="clear"
                        xc-form-autocomplete-fulltextsearch
                        xc-form-field-compact
                    ></xc-form-autocomplete>
                </div>
                <xc-icon-button
                    xc-tooltip="icon-refresh"
                    (click)="refreshRows()"
                    [disabled]="!canEditTable()"
                    xc-i18n
                    class="refresh"
                    xc-icon-name="reload"
                ></xc-icon-button>
                <xc-icon-button
                    xc-tooltip="icon-add"
                    (click)="createStorable()"
                    [disabled]="!canEditTable()"
                    xc-i18n
                    class="refresh"
                    xc-icon-name="add"
            ></xc-icon-button>
            </div>
        </header>
        <section class="full-height stretch scroll">
            <xc-table [xc-table-datasource]="localTableSource" xc-table-allowsort xc-table-allowfilter xc-table-allowselect xc-table-lazyupdate></xc-table>
        </section>
        <footer></footer>
    </xc-panel>
    <xc-panel detail>
        <header>
            <h1 xc-i18n>details-header</h1>
        </header>
        <section class="full-height stretch scroll">
            <storable-instance-detail
                [selectedStorable]="selectedStorable"
                [xoRtc]="selectedRTC"
                [fqn]="selectedFQN"
                [editSubject]="editSubject"
                (valueChange)="refreshRows()"
            ></storable-instance-detail>
        </section>
        <footer>
            <div class="items-left">
                <xc-button (click)="detailOpen = false" xc-i18n color="normal">button-cancel</xc-button>
            </div>
            <div class="items-right">
                <xc-button (click)="editSubject.next()" xc-i18n color="primary">button-save</xc-button>
            </div>
        </footer>
    </xc-panel>
</xc-master-detail>
