<xc-dialog-wrapper xc-i18n-context="fman.show-content">
    <ng-container header>{{'title' | xcI18n:injectedData.label}}</ng-container>
    <ng-container aside *ngIf="dataSource.columns.length">
        <xc-checkbox [(checked)]="onlyUnassigned" (checkedChange)="updateDataSource()" xc-i18n label="only-unassigned" xc-tooltip="only-unassigned-tooltip"></xc-checkbox>
    </ng-container>
    <section content>
        <xc-table class="zeta-scrollbar scroll" [xc-table-datasource]="dataSource" xc-table-allowsort xc-table-allowfilter xc-table-lazyupdate></xc-table>
    </section>
    <ng-container footer>
        <xc-button (click)="dismiss()" xc-i18n>ok</xc-button>
    </ng-container>
</xc-dialog-wrapper>
