<xc-dialog-wrapper xc-i18n-context="fman.create-runtime-application-dialog">
    <ng-container header><span xc-i18n>create-runtime-application-title</span></ng-container>
    <section content xc-form #form="xc-form">
        <xc-form-autocomplete
            xc-form-validator-required
            (xc-form-autocomplete-optionChange)="changeWorkspace($event?.value)"
            [xc-form-autocomplete-option]="workspaceDataWrapper.value"
            [xc-form-autocomplete-options]="workspaceDataWrapper.values"
            xc-form-autocomplete-sortdirection="asc"
            xc-form-field-suffix="clear"
            xc-form-autocomplete-fulltextsearch
            xc-i18n
            label="create-runtime-application-workspace"
        ></xc-form-autocomplete>
        <xc-form-autocomplete
            xc-form-validator-required
            [(xc-form-autocomplete-option)]="applicationDefinitionDataWrapper.value"
            [xc-form-autocomplete-options]="applicationDefinitionDataWrapper.values"
            xc-form-autocomplete-sortdirection="asc"
            xc-form-field-suffix="clear"
            xc-form-autocomplete-fulltextsearch
            label="create-runtime-application-application-definition"
            xc-i18n
        ></xc-form-autocomplete>
        <xc-form-input
            xc-form-validator-required
            [(value)]="version"
            label="create-runtime-application-version"
            xc-i18n
        ></xc-form-input>
        <xc-form-input
            [(value)]="documentation"
            label="create-runtime-application-documentation"
            xc-i18n
        ></xc-form-input>
    </section>
    <ng-container footer>
        <xc-button (click)="dismiss()" xc-i18n>create-runtime-application-cancel</xc-button>
        <xc-button color="primary" (click)="create()" [busy]="loading" [disabled]="form.invalid || loading" xc-i18n>create-runtime-application-create</xc-button>
    </ng-container>
</xc-dialog-wrapper>
