<xc-dialog-wrapper xc-form xc-i18n-context="fman.add-new-xyna-property">
    <ng-container header><span xc-i18n>header</span></ng-container>

    <section content>
        <div *ngIf="error" class="error-box">
            <div
                [fm-focus-candidate]="errorBoxFocusCandidateRef"
                fm-focus-candidate-focus-onload
                class="error-msg"
            ><div class="icon-div"><xc-icon xc-icon-name="msgwarning"></xc-icon></div><div>{{error}}</div></div>
        </div>

        <xc-form-input label="label-key" [(value)]="xynaProperty.key" xc-form-validator-required xc-i18n></xc-form-input>
        <xc-form-textarea label="label-value" [(value)]="xynaProperty.value" xc-i18n></xc-form-textarea>
        <xc-form-textarea [label]="documentationLabel" [(value)]="documentation"></xc-form-textarea>
    </section>

    <ng-container footer>
        <xc-button (click)="dismiss(false)" xc-i18n>button-cancel</xc-button>
        <xc-button (click)="add()" [busy]="busy" color="primary" [disabled]="invalid || busy" xc-i18n>button-add</xc-button>
    </ng-container>

</xc-dialog-wrapper>