<xc-master-detail [xc-master-detail-opened]="detailsObject" xc-i18n-context="fman.administrative-vetoes">
    <xc-panel master>
        <header>
            <h1 class="items-left" xc-i18n>header</h1>
            <div class="items-right">
                <xc-icon-button (click)="refresh()" xc-tooltip="icon-refresh" xc-i18n class="refresh" xc-icon-name="reload">
                </xc-icon-button>
                <xc-icon-button (click)="add()" xc-tooltip="icon-add" xc-i18n class="add" xc-icon-name="add">
                </xc-icon-button>
            </div>
        </header>
        <section class="stretch scroll">
            <xc-table [xc-table-datasource]="remoteTableDataSource" xc-table-allowsort xc-table-allowfilter
                xc-table-allowselect></xc-table>
        </section>
        <footer></footer>
    </xc-panel>
    <xc-panel detail *ngIf="detailsObject">
        <header>
            <h2 class="items-left" xc-i18n>details-header</h2>
        </header>
        <section class="stretch scroll">
            <xc-form-input label="input-name" xc-i18n [(value)]="detailsObject.name" readonly></xc-form-input>
            <xc-form-textarea label="textarea-documentation" xc-i18n [(value)]="detailsObject.documentation"></xc-form-textarea>
        </section>
        <footer>
            <div class="items-left">
                <xc-button (click)="dismiss()" xc-i18n>button-cancel</xc-button>
            </div>
            <div class="items-right">
                <xc-button (click)="save()" color="primary" xc-i18n>button-save</xc-button>
            </div>
        </footer>
    </xc-panel>
</xc-master-detail>