<xc-panel>
    <header>
        <h2 xc-i18n>header</h2>
    </header>
    <section>
        <div class="items-row">
            <xc-form-input class="compact" xc-form-field-compact label="label-custom-field-1" [(value)]="customFields.custom0" xc-i18n> </xc-form-input>
            <xc-form-input class="compact" xc-form-field-compact label="label-custom-field-2" [(value)]="customFields.custom1" xc-i18n> </xc-form-input>
        </div>
        <div class="items-row">
            <xc-form-input class="compact" xc-form-field-compact label="label-custom-field-3" [(value)]="customFields.custom2" xc-i18n> </xc-form-input>
            <xc-form-input class="compact" xc-form-field-compact label="label-custom-field-4" [(value)]="customFields.custom3" xc-i18n> </xc-form-input>
        </div>
    </section>
</xc-panel>
