<xc-dialog-wrapper xc-i18n-context="fman.deploy-filter-dialog">
    <ng-container header><span xc-i18n>title</span></ng-container>
    <section content xc-form #form="xc-form">
        <xc-form-input
            xc-form-validator-required
            [(value)]="instance"
            xc-i18n
            label="instance-name"
        ></xc-form-input>
        <xc-form-autocomplete
            xc-form-validator-required
            [(xc-form-autocomplete-option)]="runtimeContextDataWrapper.value"
            [xc-form-autocomplete-options]="runtimeContextDataWrapper.values"
            xc-form-autocomplete-sortdirection="asc"
            xc-form-field-suffix="clear"
            xc-form-autocomplete-fulltextsearch
            xc-i18n
            label="context"
        ></xc-form-autocomplete>
            <xc-form-autocomplete
            xc-form-validator-required
            [(xc-form-autocomplete-option)]="triggerInstanceDataWrapper.value"
            [xc-form-autocomplete-options]="triggerInstanceDataWrapper.values"
            xc-form-autocomplete-sortdirection="asc"
            xc-form-field-suffix="clear"
            xc-form-autocomplete-fulltextsearch
            xc-i18n
            label="trigger-instance-name"
        ></xc-form-autocomplete>
        <xc-form-input
            [(value)]="parameter"
            xc-i18n
            label="parameter"
        ></xc-form-input>
        <xc-form-input
            [(value)]="documentation"
            xc-i18n
            label="documentation"
        ></xc-form-input>
        <xc-checkbox
            [(checked)]="optional"
            xc-i18n
            label="optional"
        ></xc-checkbox>
    </section>
    <ng-container footer>
        <xc-button (click)="dismiss()" xc-i18n>cancel</xc-button>
        <xc-button color="primary" (click)="deploy()" [disabled]="form.invalid" xc-i18n>deploy</xc-button>
    </ng-container>
</xc-dialog-wrapper>
