<xc-dialog-wrapper xc-i18n-context="fman.add-new-cronlike-order-modal">
    <ng-container header><span xc-i18n>header</span></ng-container>

    <section xc-form content>
        <div *ngIf="error" class="error-box">
            <div [fm-focus-candidate]="errorBoxFocusCandidateRef" fm-focus-candidate-focus-onload class="error-msg">
                <div class="icon-div"><xc-icon xc-icon-name="msgwarning"></xc-icon></div><div>{{error}}</div>
            </div>
        </div>

        <!-- ###########################################  -->

            <!--#region - General Details -->
            <div class="custom-items-row equal-width-2">
                <xc-form-input label="label-name" [(value)]="cronlikeOrder.name" xc-form-validator-required xc-i18n></xc-form-input>
                <xc-checkbox [(checked)]="cronlikeOrder.enabled" label="label-is-active" xc-i18n></xc-checkbox>
            </div>

            <!--#endregion-->
            <order-type-form
                xc-i18n-context="order-type-form"
                [(selectedOrderType)]="selectedOrderType"
                [(selectedRuntimeContext)]="selectedServerRuntimeContext"
                (validationChange)="orderTypeValid = $event"
            ></order-type-form>
            <br>

            <!--#region INPUT PARAMETER PANEL -->
            <input-parameter
                xc-i18n-context="input-parameter"
                [ref]="inputParameterRef"
            ></input-parameter>
            <!--#endregion-->

            <br>

            <!-- EXECUTION TIME PANEL -->
            <execution-time xc-i18n-context="execution-time" header="header" [(executionTime)]="cronlikeOrder.executionTime" (invalidChange)="executionTimeInvalid = $event"></execution-time>

            <br>

            <!--#region CUSTOM INFORMATION PANEL -->
            <xc-panel class="compact">
                <header>
                    <h2 xc-i18n>header-custom-information</h2>
                </header>
                <section>
                    <div class="items-row">
                        <xc-form-input class="compact" label="label-custom-field-1" [(value)]="cronlikeOrder.cronLikeOrderCustoms.custom0" xc-i18n>
                        </xc-form-input>
                        <xc-form-input class="compact" label="label-custom-field-2" [(value)]="cronlikeOrder.cronLikeOrderCustoms.custom1" xc-i18n>
                        </xc-form-input>
                    </div>
                    <div class="items-row">
                        <xc-form-input class="compact" label="label-custom-field-3" [(value)]="cronlikeOrder.cronLikeOrderCustoms.custom2" xc-i18n>
                        </xc-form-input>
                        <xc-form-input class="compact" label="label-custom-field-4" [(value)]="cronlikeOrder.cronLikeOrderCustoms.custom3" xc-i18n>
                        </xc-form-input>
                    </div>
                </section>
            </xc-panel>
            <!--#endregion-->

            <br>

            <!-- BEHAVIOR ON ERROR DROPDOWN -->
            <xc-form-autocomplete
                label="label-behavior-on-error"
                placeholder="tooltip-select"
                [(xc-form-autocomplete-option)]="behaviorOnErrorDataWrapper.value"
                [xc-form-autocomplete-options]="behaviorOnErrorDataWrapper.values"
                xc-form-field-suffix="clear"
                xc-form-autocomplete-fulltextsearch
                xc-form-autocomplete-asdropdown
                xc-i18n
            ></xc-form-autocomplete>

        <!-- ###########################################-->

    </section>

    <ng-container footer>
        <xc-button (click)="dismiss(false)" xc-i18n>button-cancel</xc-button>
        <xc-button (click)="add()" color="primary" [disabled]="invalid" xc-i18n>button-start</xc-button>
    </ng-container>

</xc-dialog-wrapper>